.first-row{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.second-row{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.box{
  
}